* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
select,
label,
li,
span {
    outline: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

body,
html {
    background: #fff;
    color: #666;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}


/* phần header */

#header {
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 100px;
    display: grid;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

.navbar {
    justify-content: space-between;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}

nav ul li {
    display: inline-block;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    opacity: 1;
}

.control .btn-material {
    line-height: 45px;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-sizing: border-box;
    background: #009f4d;
    outline: 0;
    transform-origin: 50%;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.control .icon-material-search {
    color: #FFF;
    transition: opacity 0.3s ease-in-out;
}

.header-search .icon-close {
    position: absolute;
    color: #FFF;
    cursor: pointer;
    font-size: 70px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    bottom: -70px;
}

.dis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: -40px;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    width: 88%;
}

body.search-active .search-input {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

.search-input input {
    color: #fff !important;
    font-size: 54px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    height: 100vh;
    width: 100%;
}

body.search-active .icon-close {
    opacity: 1;
    transform: rotate( -90deg);
}

body.search-active .control .icon-material-search {
    opacity: 0;
}

body.search-active .control .btn-material {
    transform: scale(70);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: white;
    /* border: 1px solid #ccc; */
    border-radius: 3px;
    /* padding: 3px; */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

body.search-active .search-input {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

.navbar-expand-lg .navbar-nav .nav-link {
    transition: all 0.5s;
    padding: 14px 0 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    opacity: .8;
    text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    opacity: 1;
    color: #fff;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

.navbar .navbar-brand span.fa {
    color: #009f4d;
    margin-right: 5px;
    vertical-align: bottom;
}

.navbar .navbar-brand span.logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
}

.theme i {
    font-size: 20px;
    transform: rotate( -30deg);
    cursor: pointer;
    color: white;
}

.navbar-toggler-icon.fa {
    font-size: 20px;
    color: #fff;
    background: #009f4d;
    line-height: 34px;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: #009f4d;
    border-radius: 4px;
    text-align: center;
}

.collapse:not(.show) {
    display: none;
}

a.dropdown-item {
    font-size: 15px;
    color: #3f3a64;
    background: none;
    opacity: .8;
    font-weight: 600;
    padding: 6px 20px;
    text-transform: uppercase;
    text-align: center;
}

.dropdown-item:hover,
.dropdown-item:focus {
    opacity: 1;
    color: #3f3a64;
    text-decoration: none;
    background-color: transparent;
}

.croll_fixed {
    padding: 0px;
    background-color: #fff;
    height: 90px !important;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.croll_fixed .navbar-expand-lg .navbar-brand {
    color: #3f3a64;
}

.croll_fixed .navbar-expand-lg .theme i {
    color: #3f3a64;
    opacity: 0.9;
}

.croll_fixed .navbar-expand-lg .navbar-nav .nav-link {
    color: #3f3a64;
    opacity: 0.7;
}

.croll_fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
    color: #009f4d;
    opacity: 0.9;
}

@media only screen and (max-width: 991px) {
    button.navbar-toggler .icon-expand {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    button.navbar-toggler.collapsed .icon-expand {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    button.navbar-toggler.collapsed .icon-close {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    button.navbar-toggler .icon-close {
        display: block;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-toggler {
        padding: 0rem 0rem !important;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-toggler {
        border: 0 none;
        font-size: 24px;
    }
}

@media only screen and (max-width: 991px) {
    .header-search {
        position: absolute;
        right: 82px;
        top: 21px;
    }
}

@media only screen and (max-width: 991px) {
    .theme {
        position: absolute;
        right: -20px;
        top: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .control .btn-material {
        line-height: 40px;
        text-align: center;
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-collapse {
        max-height: calc(100vh - 80px);
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        -webkit-animation-name: none;
        animation-name: none;
        float: left;
        text-align: center;
        width: 100%;
        padding: 20px 0 0px;
    }
}

@media only screen and (max-width: 991px) {
    #header {
        height: auto;
        padding: 20px 0;
    }
}

header.active {
    background: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 736px) {
    .search-input input {
        position: absolute;
        right: -80px;
    }
}

@media only screen and (max-width: 991px) {
    .search-input input {
        position: absolute;
        right: -50%;
        width: initial;
    }
}

@media only screen and (max-width: 736px) {
    .header-search .icon-close {
        right: -110px;
        z-index: 9;
    }
}

@media only screen and (max-width: 991px) {
    .header-search .icon-close {
        right: -110px;
    }
}

@media only screen and (max-width: 568px) {
    .header-search .icon-close {
        right: -60px;
        z-index: 9;
        font-size: 45px;
    }
}

@media only screen and (max-width: 736px) {
    .header-search .icon-close {
        right: -61px;
        z-index: 9;
    }
}

@media only screen and (max-width: 415px) {
    .search-input input {
        right: -125px;
    }
}

@media only screen and (max-width: 480px) {
    .search-input input {
        font-size: 40px;
    }
}


/* end header */


/* carousel */

.carousel {
    height: auto;
    position: relative;
    overflow: hidden;
}

.bg1 {
    background: url(./img/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.bg2 {
    background: url(./img/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.bg3 {
    background: url(./img/b3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.bg4 {
    background: url(./img/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.item-slide {
    position: relative;
    min-height: 800px;
    padding-bottom: 100px;
    display: flex !important;
    align-items: center;
    max-width: 100%;
}

.carousel_body h1 {
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 18px;
    color: white;
    max-width: 800px;
    font-weight: 600;
}

.carousel_body p {
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.010em;
    opacity: 0.9;
}

.carousel_body .cr-btn {
    padding-top: 30px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
}

.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.5s;
}

.btn-primary {
    color: #fff;
    background-color: #00a63f;
    border-color: #00a63f;
}

.overlay {
    background: #1d2a37b3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.shape {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.shape svg {
    fill: white;
}

.slick-arrow {
    height: 60px;
    background: #fff;
    width: 60px;
    border-radius: 50%;
    z-index: 100;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
    border: 1px solid #00000000;
}

.slick-prev {
    top: auto;
    left: auto;
    right: 125px;
    bottom: 0;
}

.slick-next {
    top: auto;
    right: 40px;
    bottom: 0;
}

.slick-next::before,
.slick-prev::before {
    color: black;
}

.slick-arrow.slick-prev:before {
    content: "\f060";
}

.slick-arrow.slick-next:before {
    content: "\f061";
}

.slick-arrow:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-align: center;
    line-height: 46px;
    color: black;
}


/* end carousel */


/* phần about us */

.title-small {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.title-big {
    font-size: 37px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}

p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: 0.8;
}

.about_list {
    list-style: none;
}

.about_list li a {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
}

ul.about_list li {
    display: block;
    margin-bottom: 15px;
}

.about_us ul.about_list li a span.fa {
    color: #009f4d;
    margin-right: 5px;
    opacity: 0.8;
    font-size: 20px;
}

.radius-image {
    border-radius: 10px;
}


/*end phần about us */


/* phần CHALLENGES */

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #008030;
    border-color: #00732c;
    box-shadow: 0 0 0 0.2rem rgb(38 179 92 / 50%);
}

.challenges {
    background-color: #f7f7f7;
}

.chall-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.box-wrap {
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    transition: all 0.5s;
}

.box-wrap:hover {
    transform: translateY(-10px);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.box-wrap h4 a {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
    transition: all 0.5s;
}

.box-wrap h4 a:hover {
    color: #009f4d;
}


/* end CHALLENGES */


/* phần Services */

.service-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item-info {
    padding: 0 20px;
    position: relative;
}

.ser-item-info .item-info a.title {
    text-align: center;
    background: #fff;
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid #00000000;
    border-radius: 10px;
    transform: translateY(-25px);
    box-shadow: #0101010d 1px 1px 5px 0px;
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    transition: all 0.7s;
}

.ser-item-info .item-info a.title:hover {
    color: #009f4d;
}

.btn-leamore {
    padding: 8px 35px;
    font-size: 17px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    transition: all 0.7s;
}

.ser-item-info a.btn-leamore:hover {
    color: #009f4d;
}


/*kết thúc phần Services */


/* phần gallery */

.gallery {
    background: #f8f9fa;
}

.gallery a.img_zoom {
    overflow: hidden;
    position: relative;
}

.gallery a.img_zoom img {
    transition: 0.3s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

img {
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

.gallery .overlay_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d2a37b3;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.gallery span.hover_content {
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    padding: 46px 50px;
    color: #ffffff;
    z-index: 2;
}

.gallery span.hover_content .title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.gallery span.hover_content .content {
    font-size: 18px;
    color: #eee;
    display: block;
}

.gallery a:hover img {
    overflow: hidden;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.gallery a.img_zoom:hover .overlay_hover {
    visibility: visible;
    opacity: 1;
}

.gallery a.img_zoom:hover .hover_content {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

.logo_list {
    border-top: 1px solid #eee;
}

.logo_list img {
    padding: 0 18px;
}


/* end gallery */


/* success */

.success .thanh_1 h6.success-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
}

.success .thanh_2 h6.success-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
}

.success .thanh_3 h6.success-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 60%;
}

.success .thanh_4 h6.success-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 85%;
}

.success h6.success-tittle {
    font-size: 18px;
    color: #3f3a64;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.5;
}

.success .success-info {
    margin-bottom: 25px;
    text-align: left;
    position: relative;
}

.success .progress {
    height: 4px;
    overflow: hidden;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.success .progress-bar.gradient-1 {
    color: #61fded;
    background: linear-gradient( -224deg, #0d8abc, #61fded);
}

.success .progress-bar.gradient-1:after,
.success .progress-bar.gradient-1:before {
    content: "";
    position: absolute;
    right: 20%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.success .progress-bar.gradient-1:after,
.success .progress-bar.gradient-2:after,
.success .progress-bar.gradient-3:after,
.success .progress-bar.gradient-4:after {
    height: 13px;
    width: 13px;
    border: 3px solid;
    background-color: white;
}

.success .progress-bar.gradient-1:before,
.success .progress-bar.gradient-2:before,
.success .progress-bar.gradient-3:before,
.success .progress-bar.gradient-4:before {
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .3;
}

.success .progress-bar.gradient-2 {
    color: #eece90;
    background: linear-gradient( -224deg, #d45529, #eece90);
}

.success .progress-bar.gradient-2:after,
.success .progress-bar.gradient-2:before {
    content: "";
    position: absolute;
    right: 5%;
    top: 90%;
    ;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.success .progress-bar.gradient-3 {
    color: #5c51ff;
    background: linear-gradient( -224deg, #f646a9, #5c51ff);
}

.success .progress-bar.gradient-3:after,
.success .progress-bar.gradient-3:before {
    content: "";
    position: absolute;
    right: 40%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.success .progress-bar.gradient-4 {
    color: #e5529a;
    background: linear-gradient( -224deg, #e77654, #e5529a);
}

.success .progress-bar.gradient-4:after,
.success .progress-bar.gradient-4:before {
    content: "";
    position: absolute;
    right: 15%;
    top: 90%;
    border-radius: 50%;
    transform: translate(50%, -50%);
}


/* phần Testimonials*/

.testimonials {
    background: #f8f9fa;
}

.testimonial blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
    margin-top: -1rem;
}

.testimonials .testimonial blockquote q {
    font-size: 18px;
    line-height: 28px;
    color: #666;
    opacity: .8;
}

blockquote {
    margin: 0 0 1rem;
}

.testimonials blockquote q::before {
    display: none;
}

.tes-des {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    grid-gap: 20px;
}

.tes-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
}

.testimonials .testimonial img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.testimonial {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.testimonial .people h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    color: #3f3a64;
}

.align-self {
    align-self: center;
}

.testimonial {
    display: block;
    padding: 40px 30px;
    position: relative;
    border: none;
    max-width: 900px;
    margin: auto;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

.owl-two.owl-theme .owl-dots .owl-dot.active span,
.owl-two.owl-theme .owl-dots .owl-dot:hover span {
    background: #213364;
    opacity: 1;
}

.owl-theme .owl-dots .owl-dot.active span {
    transform: scale(1.5);
}


/* end testimonial  */


/* latest */

.latest_new .card {
    border: none;
    background: none;
    box-shadow: 0 25px 98px 0 #0000000a;
    border: 1px solid #00000000;
}

.latest_new .card-header {
    border: none;
}

.latest_new a.zoom {
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post-thumbnail img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: 0.3s ease-in-out;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.latest_new .price-review p a,
.latest_new .price-review p {
    font-weight: 400;
    font-size: 18px;
    color: #999;
}

.latest_new a.blog-desc {
    font-weight: 600;
    color: #3f3a64;
    margin-top: 10px;
    display: block;
    font-size: 20px;
    line-height: 28px;
}

a.blog-desc:hover {
    color: #009f4d;
}

.card-footer {
    background: #fff;
    border-top: 1px solid #eee;
}

.card-footer .author {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.w3l-blog a.post-author {
    overflow: hidden;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
}

ul {
    list-style: none;
}

span.meta-value {
    color: #666;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
}

.blog-meta li a {
    font-size: 16px;
    color: #3f3a64;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
}

.blog-meta li a:hover {
    color: #009f4d;
}

.date p {
    font-size: 15px;
}

.card:hover img {
    overflow: hidden;
    transform: scale(1.1);
    transition: all 0.5;
}

.card:hover .author img {
    transform: inherit;
}


/* subscribe */

#subscribe {
    background-image: url(./img/map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #151421;
}

.header-section h3.title-big {
    color: #fff;
}

.header-section p {
    color: #eee;
}

.top_ft_content {
    max-width: 700px;
    margin: 0 auto;
}

form.subscribe {
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
    margin-top: 25px;
    position: relative;
}

.subscribe .input-group-text {
    color: #999;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    padding: 0 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.subscribe input {
    padding: 15px 20px;
    font-size: 16px;
    border: 1px solid #eee;
    /* background: #fff; */
    background-color: #00000033;
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
}

.subscribe button.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 25px;
    font-size: 16px;
}


/* footer */

.footer_main {
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.footer_main .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    opacity: 1;
}

.footer_main .navbar-brand span.fa {
    color: #009f4d;
    margin-right: 5px;
    vertical-align: bottom;
}

.navbar-brand span.logo {
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    opacity: .9;
}

.footer_main p {
    font-size: 18px;
    line-height: 30px;
    color: #97a1a9;
}

.footer_main a {
    border-radius: 50%;
    transition: all 0.3s;
    color: #97a1a9;
    opacity: 0.8;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: none;
}

.footer_main a:hover {
    color: white;
}

.footer_main h6.footer-title {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.footer_main li.cat-item {
    margin-bottom: 10px;
}

.footer_main li.cat-item a {
    font-size: 18px;
    line-height: 30px;
}

.widget_meta ul li a {
    font-size: 18px;
    line-height: 30px;
}

.copyright {
    padding: 1.5em 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.copyright .copy-footer a {
    color: #009f4d;
    font-size: 18px;
    line-height: 28px;
}


/* backtotop */

.backToTop {
    background-color: #009f4d;
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 50%;
    opacity: 0;
}

.backToTop i {
    font-size: 18px;
}

.backToTop:hover {
    color: white;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 1;
}